{% extends 'Modules/layout.html.twig' %}

{% block head %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
{% endblock %}

{% block body %}
	{% include 'Modules/_admin_header.html.twig' %}
	<div class="admin-page">
		<div class="admin">
			<div class="upload-container">
				{% if errors is defined and errors is not empty %}
					<ul>
						{% for error in errors %}
							<li>
								{{ error }}</li>
						{% endfor %}
					{% endif %}
				</ul>
				<form method="post" enctype="multipart/form-data" class="admin-file-form">
					<div class='admin-file-add-image'>
						<label for="imageUpload">Ajouter une photo</label>
						<input type="file" name="avatar" id="imageUpload"/>
					</div>
					<div class='admin-file-register'>
						<label for="destination">J'enregistre :</label>
					</div>
					<div class='admin-file-destination'>
						<select name="destination" id="destination">
							<option value="flash">un flash</option>
							<option value="tattoo">un tattoo</option>
							<option value="objet">un objet</option>
						</select>
					</div>
					<button name="send" class="cta">Send</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
