{% extends 'Modules/layout.html.twig' %}

{% block head %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
{% endblock %}

{% block body %}
{% include 'Modules/_admin_header.html.twig' %}
<div class="admin-page">
    <div class="admin">
    <img src="/assets/Images/illustration/farandole.jpg" class="admin-front-image">
        <div class="upload-container">
        {% if errors is defined and errors is not empty %}
            <ul>
            {% for error in errors %}
                <li> {{ error }}</li>
            {% endfor %}
        {% endif %}
        </ul>
            <form method="post" enctype="multipart/form-data" class ="admin-file-form">
                <label for="imageUpload">Ajouter une photo</label>    
                <input type="file" name="avatar" id="imageUpload" />
                <label for="destination">J'enregistre :</label>
                <select name="destination" id="destination">
                    <option value="flash">un flash</option>
                    <option value="tattoo">un tattoo</option>
                    <option value="objet">un objet</option>
                </select>    
                <button name="send" class="cta">Send</button>
            </form>        
        </div>
    </div>
</div>
{% endblock %}