<link rel="stylesheet" type="text/css" href="/assets/css/cursor.css">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>


<svg id="svg-1" class="cursor-line"></svg>
<svg id="svg-2" class="cursor-line"></svg>
<svg id="svg-3" class="cursor-line"></svg>
<svg id="svg-4" class="cursor-line"></svg>
<svg id="svg-5" class="cursor-line"></svg>

<script src=assets/scripts/cursor.js></script>