<form method="post" enctype="multipart/form-data">
    <label for="imageUpload">Ajouter une photo</label>    
    <input type="file" name="avatar" id="imageUpload" />
    <label for="destination">J'enregistre :</label>
    <select name="destination" id="destination">
        <option value="flash">un flash</option>
        <option value="tattoo">un tattoo</option>
        <option value="objet">un objet</option>
    </select>    <button name="send">Send</button>
</form>