{% extends 'Modules/_admin_photoGallery.html.twig' %}
{% block head %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/grid-fixe.css">
{% endblock %}
{% set folder = 'illustration' %}

{% block body %}
	{% include 'Modules/_admin_header.html.twig' %}
	<div class="upload-container">
		<ul>
			{% for error in errors %}
				<li>
					{{ error }}</li>
			{% endfor %}
		</ul>
		<form method="post" enctype="multipart/form-data" class="admin-file-form">
			<label for="imageUpload">Ajouter une photo</label>
			<input type="file" name="avatar" id="imageUpload"/>
			<label for="destination">J'enregistre :</label>
			<input type="hidden" name="destination" value="flash"/>
			<button name="send" class="cta">Send</button>
		</form>
	</div>
	{% block content %}
		{{parent()}}
	{% endblock %}

{% endblock %}
