<div class="header">
    <div class="left">
        <a class="header-menu_option" href="/admin">Admin</a>
        <a class="header-menu_option" href="/admin/tattoo">Tattoo</a>
        <a class="header-menu_option" href="/admin/illustration">illustration</a>
        <a class="header-menu_option" href="/admin/objets">Objets</a>
    </div>
    <div class="right">
        <a class="header-menu_option logout" href="/admin/logout">Log out</a>
    </div>
</div>  