<div class="header">
    <div class="left">
        <a class="nav-option" href="/admin">Admin</a>
        <a class="nav-option" href="/admin/flash">Flash</a>
        <a class="nav-option" href="/admin/tattoo">Tattoo</a>
        <a class="nav-option" href="/admin/objets">Objets</a>
    </div>
    <div class="right">
        <a class="nav-option logout" href="/admin/logout">Log out</a>
    </div>
</div>  