{% extends 'Modules/layout.html.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
{% endblock %}

{% block body %}
	{% include 'Modules/_admin_header.html.twig' %}
	<div class="upload-container">
		<ul>
			{% for error in errors %}
				<li>
					{{ error }}</li>
			{% endfor %}
		</ul>
		{% include 'Modules/_admin_addFile_form.html.twig' %}
	</div>
	{% block content %}
		<div class="grid">
			{% for image in images %}
				<div class="grid-item">
					<img src="/assets/Images/{{ folder }}/{{ image }}" alt="{{ image }}" class="grid-image" loading="lazy">
					<form action="" method="POST" class="image-form">
						<input type="hidden" name="filename" value="{{ image }}">
						<button type="submit" name="delete" class="cta-image">Delete</button>
					</form>
				</div>
			{% endfor %}
		</div>
	{% endblock %}

{% endblock %}
