<form method="post" enctype="multipart/form-data" class="admin-file-form">
	<label for="imageUpload" class="upload-label">Ajouter une photo</label>
	<input type="file" name="avatar" id="imageUpload"/>
	<input type="hidden" name="destination" value={{folder}}/>
	<button name="send" class="cta">Send</button>
</form>
