<div class="rdv-form inactive moveUp" id="rdv-form_transition">
  <div class="contact-form__widget">
    <h3>Pour l'instant la prise de rdv se passe via Instagram ! Viens m'envoyer un dm <a href="https://www.instagram.com/leventquirale/"><img src="assets\Images\Instagram_simple_icon.svg.png" alt="Instagram" id="instagram" /></a></h3>
  </div>
  <div class="contact-form__widget rdv-step1 OneSDelay pointer">
    <h3>Je n'ai pas insta Oskour (clique)</h3>
  </div>
  <div class="contact-form__widget rdv-step2 halfSDelay inactive">
    <h3>Arg 🐛🐛🐛</h3>
  </div>
  <div class="contact-form__widget rdv-step3 OneSDelay inactive">
    <h3>Bon, c'est vraiment parceque c'est toi !</h3>
    <div class="rdv-form__wrapper deuxSDelay pointer">fleche</div>
  </div>
</div>
