{% block footer %}
	<div class="footer" >
		<a class="nav-option"><img src="assets\Images\header-navbar-footer\footer_contact.png" alt="contact" class="nav-img"></a>
		<div class="nav-option">
			<a href="https://www.instagram.com/leventquirale/">INSTA</a>
		</div>
		<div>
			Copyright 2023 by
			<a href="http://philibertetienne.com/">Philibert Etienne</a>.</div>
	</div>
{% endblock %}
