{% set baseImagePath = 'assets/Images/header-navbar-footer/' %}

{% block footer %}
  <div class="footer" id="footer">
    <a class="footer_option" href="/contact"><img src="{{ baseImagePath }}{{ url == '/contact' ? '/contact/footer_contact-selec.avif' : '/contact/footer_contact.avif' }} " alt="contact" id="contact"/></a>
    <div class="footer_option">
      <a href="https://www.instagram.com/leventquirale/"><img src="{{ baseImagePath ~ 'footer_icone_instagram.png' }}" alt="logo Instagram" class="footer_img" /></a>
    </div>
    <div class="footer_option">
      <a href="/mentions-legales"><img src="{{ baseImagePath ~ (url == '/mentions-legales' ? '/mentions-legales/mentions_legales-soul.avif' : '/mentions-legales/mentions_legales.avif') }}" alt="mentions légales" alt="" /></a>
    </div>
  </div>
{% endblock %}
