<form class="contact-form__contenu" method="post">
  <div class="contact-form__widget" id="rdv-form">
    <label for="firstname">Prénom: <span>(obligatoire)</span></label>
    <input type="text" id="firstname" name="firstname" required />
  </div>
  <div class="contact-form__widget">
    <label for="pronouns">Pronom(s):</label>
    <input type="text" id="pronouns" name="pronouns" />
  </div>
  <div class="contact-form__widget">
    <label for="email">Email: <span>(obligatoire)</span></label>
    <input type="email" id="email" name="email" required />
  </div>
  <div class="contact-form__widget">
    <label for="phone">Téléphone:</label>
    <input type="text" id="phone" name="phone" required />
  </div>
  <div class="contact-form__widget">
    <label for="subject">Objet: <span>(obligatoire)</span></label>
    <input type="text" id="subject" name="subject" required />
  </div>
  <div class="contact-form__widget">
    <label for="message">Message: <span>(obligatoire)</span></label>
    <textarea id="message" name="message" rows="4" required></textarea>
  </div>
  <div class="contact-form__submit">
    <button type="submit" name="form_rdv_submit">Envoyer</button>
  </div>
</form>
