      <div class="contact-form__rowBox">
        <div class="cbx-button pointer unselected" id="coucou">
          <label><input type="radio" /> <span>CC je souhaite faire coucou</span></label>
        </div>
        <div class="cbx-button pointer unselected" id="rdv">
          <label><input type="radio" /><span>Bjr c pour prendre un RDV</span></label>
        </div>
      </div>