<form class="contact-form__contenu" method="post">
  <div class="contact-form__widget">
    <label for="firstname">Prénom(s):</label>
    <input type="text" id="firstname" name="firstname" required />
  </div>
  <div class="contact-form__widget">
    <label for="pronouns">Pronom(s):</label>
    <input type="text" id="pronouns" name="pronouns" />
  </div>
  <div class="contact-form__widget">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required />
  </div>
  <div class="contact-form__widget">
    <label for="subject">Objet:</label>
    <input type="text" id="subject" name="subject" required />
  </div>
  <div class="contact-form__widget">
    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="8" required></textarea>
  </div>
  <div class="contact-form__submit">
    <button type="submit" name="form_coucou_submit">Envoyer</button>
  </div>
</form>
