<div class="header">
    <div class="site-branding"><a href="/"> Kikiland</a></div>
    <div class="nav-option"><a href="/tattoo"> Tattoo</a></div>
    <div class="nav-option"><a href="/illustration">Illustration</a></div>
    <div class="nav-option"><a href="/objets">Objets</a></div>
</div>