<div class="header">
    <div class="site-branding">KIKILAND</div>
    <div class="nav-option"><a href="/flash"> Flash</a></div>
    <div class="nav-option"><a href="/tattoo">Tattoo</a></div>
    <div class="nav-option"><a href="/objets">Objets</a></div>
</div>