{% extends 'Modules/layout.html.twig' %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/illustration.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/fullScreen.css">
{% endblock %}

{% block content %}

	<div class="front-gallery-container" id="front-gallery-container">
	{% if folder is defined  and folder =='tattoo' %}
		<a href="assets/Images/flashbooktest_150dpi.pdf" target="_blank" id="flashbook-link">
			<img src="assets\Images\lienflashbook.avif" alt="flashbook" class="flashbook" id="flashbook">
		</a>
			<a href="assets/Images/flashbooktest_150dpi.pdf" target="_blank" id="flashbookSide-link">
				<img src="assets\Images\lienflashbook.avif" alt="flashbook-side" class="flashbook" id="flashbookSide">
			</a>
		<div class="grid" id="grid">
{% for image in images %}
    {% set imagePathBig = "/assets/Images/" ~ folder ~ "/" ~ image %}
    {% set imagePathMedium = "/assets/Images/" ~ folder ~ "/half/" ~ image %}
    {% set imagePathSmall = "/assets/Images/" ~ folder ~ "/half/fourth/" ~ image %}

    <img srcset="{{ imagePathBig }} 1800w, {{ imagePathMedium }} 800w, {{ imagePathSmall }} 600w" alt="{{ image }}" class="grid-image fade-in" >
{% endfor %}
		{% else %}
		<div class="masonryContainer" id="masonryContainer">
		<div class="row" id="row-illustration">
			</div>
			</div>
		{% endif %}
	</div>
    <div id="images" data-images="{{ images|json_encode }}"></div>

	{% block javascripts %}
		{{ parent() }}
			<script src="assets/scripts/imageClick.js"></script>
		{% if folder is defined  and folder =='tattoo'%}
			<script src="assets/scripts/tattoo.js"></script>
{% elseif folder is defined and folder == 'illustration' %}
			<script src="assets/scripts/illustration_masonry.js" type="module"></script>

		{% endif %}
	{% endblock %}

{% endblock %}
