{% extends 'Modules/layout.html.twig' %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
{% endblock %}

{% block content %}
	<div class="front-gallery-container">
		<div class="grid">
			{% for image in images %}
				<img src="/assets/Images/{{ folder }}/{{ image }}" alt="{{ image }}" class="grid-image" loading="lazy">
			{% endfor %}
		</div>
	</div>
{% endblock %}
