{% extends 'Modules/layout.html.twig' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/admin.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/slider.css" />
{% endblock %}

{% block content %}
<div class="test"></div>
  <div class="slider-page" id="slider-page">
    <div class="slider" id="slider"></div>
    <div class="button-container">
      <button class="prev">Prev</button>
      <button class="next">Next</button>
    </div>
    <div id="images" data-images="{{ images|json_encode }}"></div>
  </div>

  {% block javascripts %}
    <script src="assets\scripts\slider.js" type="module"></script>
  {% endblock %}
{% endblock %}
