<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kikiland</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/kikiland.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="icon" type="image/x-icon" href="/assets/Images/faviconpotifleur.avif">
		{# <link href="https://fonts.googleapis.com/css2?family=Modak&family=Nunito:wght@700&display=swap" rel="stylesheet"> #}
	{% endblock %}
</head>

{% block body %}
	{% include 'Modules/_header.html.twig' %}
	{% block content %}
		<div id="content">
			{% block javascripts %}
			{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
{% include 'Modules/_footer.html.twig' %}
