{% extends 'Modules/layout.html.twig' %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/contact.css" />
{% endblock %}
{% block content %}
  <section class="contact-form">
    {# Selection buttons #}
    {% include 'Modules/_form_selection_button.html.twig' %}
    {# Errors handling #}
    {% if errors is not empty %}
      <div class="errors">
        <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {# coucouform #}
    {% include 'Modules/_form_coucou.html.twig' %}
    {# rdv form #}
    {% include 'Modules/_animation_rdv-form.html.twig' %}
    <div class="rdv-form__form halfSDelay inactive">
      {% include 'Modules/_form_contact.html.twig' %}
    </div>
  </section>
  {% block javascripts %}
    <script src="assets\scripts\form.js"></script>
  {% endblock %}
{% endblock %}
