{% extends 'Modules/layout.html.twig' %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/contact.css" />
{% endblock %}
{% block content %}
  <div class="contact-form">
    <form class="contact-form__contenu" method="post">
      <div class="contact-form__widget">
        <label for="lastname">Nom:</label>
        <input type="text" id="lastname" name="lastname" required />
      </div>
      <div class="contact-form__widget">
        <label for="firstname">Prénom:</label>
        <input type="text" id="firstname" name="firstname" required />
      </div>
      <div class="contact-form__widget">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div> 
      <div class="contact-form__widget">
        <label for="email">Téléphone:</label>
        <input type="text" id="tel" name="tel" required />
      </div>
      <div class="contact-form__widget">
        <label for="objet">Objet:</label>
        <input type="text" id="objet" name="objet" required />
      </div>
      <div class="contact-form__widget">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
      </div>
      <div class="contact-form__widget">
        <input type="submit" value="submit" />
      </div>
    </form>
  </div>
  {% include 'Modules/_footer.html.twig' %}

  {% block javascripts %}

  {% endblock %}
{% endblock %}
