{% extends 'Modules/layout.html.twig' %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/contact.css" />
{% endblock %}
{% block content %}
  <section class="contact-form">
    {# Errors handling #}
    {% if errors is not empty %}
      <div class="errors">
        <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {# coucouform #}
    <H1 class="intro">Pour un tatouage, un coucou, une question, tu peux me contacter 💃</H1>
    {% include 'Modules/_form_coucou.html.twig' %}
  </section>
{% endblock %}
