{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="\assets\css\index.css"/>
{% endblock %}
{% block title %}
	{{ parent() }}
{% endblock
%}
{% block body %}
<p>pizza </p>
{% endblock %}
