{% extends 'Modules/layout.html.twig' %}
{% block body %}
   <div>
        <img src="/assets/Images/illus/icônePng.png" alt="Bienvenue à Kikiland" id="kikiland">
    </div>
<div id="navbar">
    <div> <img class="bouton" src="/assets/Images/boutons/bout_tattoo.png"  id="tattoo"></div>
    <div> <img class="bouton" src="/assets/Images/boutons/bout_illus.png" id="illustration" ></div>
    <div> <img class="bouton" src="/assets/Images/boutons/bout_obj.png" id="objet"></div>
</div>    
<footer>
    <div class="footer">Copyright Emma Chevassu</div>
</footer> 
{% endblock %}