{% extends 'Modules/layout.html.twig' %}
{% block body %}
	<div class="homepage">
			<img src="/assets/Images/Home/accueil.png" alt="Bienvenue à Kikiland" id="bienvenue-kikiland">
		<div id="navbar">
			<img class="bouton" src="\assets\Images\boutons\tattoo\bouton.png" id="tattoo" onclick="changeImageAndRedirect('tattoo')">
			<img class="bouton" src="\assets\Images\boutons\illustration\bouton.png" id="illustration" onclick="changeImageAndRedirect('illustration')">
			<img class="bouton" src="\assets\Images\boutons\objet\bouton.png" id="objet" onclick="changeImageAndRedirect('objet')">
		</div>

		<a href="/bomberkiks" class="bombe-icone"><img src="\assets\Images\Home\anim_exempleclicbombe.gif"></a>

		{% include 'Modules/_footer.html.twig' %}
	</div>
	{% block javascripts %}
		<script src="\assets\scripts\button.js"></script>
	{% endblock %}
{% endblock %}
