{% extends 'Modules/layout.html.twig' %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/home.css" />
{% endblock %}
{% block body %}
  <div class="homepage" aria-label="Menu principal">
    <picture>
      <source srcset="/assets/Images/Home/accueil.avif 1800w, /assets/Images/Home/half/accueil.avif 1000w, /assets/Images/Home/fourth/accueil.avif 600w" type="image/avif"  sizes="50vw" />
      <img src="/assets/Images/Home/accueil.png" alt="Bienvenue à Kikiland"class="bienvenue-kikiland" />
    </picture>
    <nav class="home-nav">
      <ul>
        <li>
          <a href="/tattoo" aria-label="Tattoo" class="bouton"></a>
        </li>
        <li>
          <a href="/illustration" aria-label="illustration" class="bouton"></a>
        </li>
        <li>
          <a href="/objets" aria-label="bouton" class="bouton"></a>
        </li>
      </ul>
    </nav>
    <a href="http://philibertetienne.com/map.html" class="bombe-icone" target="_blank" aria-label="Jeu Bomberman"><img src="\assets\Images\Home\anim_exempleclicbombe.gif" alt="Jeu Bomberman" /></a>
  </div>
  {% block javascripts %}

  {% endblock %}
{% endblock %}
