{% extends 'Modules/layout.html.twig' %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/illustration.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/fullScreen.css" />
{% endblock %}

{% block content %}
  <section class="front-gallery-container">
    <div class="masonryContainer">
      <div class="row"></div>
    </div>
    <input type="hidden" id="Images" data-images="{{ images|json_encode }}" />
  </section>
  {% block javascripts %}
    {{ parent() }}
    <script src="assets/scripts/imageClick.js"></script>
    <script src="assets/scripts/illustration_masonry.js" type="module"></script>
  {% endblock %}
{% endblock %}
