<div class="header">
    <div class="site-branding">KIKILAND</div>
    <div class="nav-option">Flash</div>
    <div class="nav-option">Tattoo</div>
    <div class="nav-option">Shop</div>
    <div class="nav-option">Panier</div>
    <div class="nav-option">FAQ</div>
</div>