<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="\assets\css\index.css/">
            <title>{% block title %}Kikiland{% endblock %} </title>
        {% endblock %}
    </head>
    <body>
        <div class="page-container">
            {% include '_header.html.twig' %}    
            <div id="content">{% block content %}{% endblock %}</div>
            {% include '_footer.html.twig' %}  
        </div>  
    </body>