<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="\assets\css\index.css/">
            <title>{% block title %}Kikiland{% endblock %} </title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2023 by <a href="http://philibertetienne.com/">Philibert Etienne</a>.
            {% endblock %}
        </div>
    </body>