* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
}

:root {
  --baseColor: #ffffff;
  --fontColor: #000000;
  --backgroundColor: #f2413b;
}

body {
  display: flex;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: var(--fontColor);
  margin: 0 auto;
  background-color: var(--baseColor);
}

#bienvenue-kikiland {
  max-width: 50%;
  margin-bottom: 10px;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bouton {
  max-height: 80px;
  transition: 1s;
  margin-bottom: 10vh;
}

#navbar {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.header {
  display: flex;
  background-color: var(--baseColor);
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  flex-direction: row;
  border-bottom: 3px solid #000000;
}

a {
  text-decoration: none;
}

.bombe-icone img {
  width: 10%;
  display: flex;
}

.bombe-icone {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2em 2em 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.grid-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 35%));
  grid-gap: 0.5rem;
  justify-content: center;
}

.grid img:nth-child(2n + 1) {
  aspect-ratio: 4/4;
  grid-row: span 4;
}
.grid img:nth-child(2n + 2) {
  aspect-ratio: 4/5;
  grid-row: span 5;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  position: absolute;
  @media (max-width: 420px) {
    flex-direction: column;
  }
}
