body {
  position: relative;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
  background-color: rgba(189, 125, 249, 0.816);
  border-radius: 20%;
  padding: 2em;
}

.login-container .cta {
  margin-left: 8em;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1em 0.5em;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="file"] {
  cursor: pointer;
}

.upload-label {
  cursor: pointer;
}

select,
input::file-selector-button {
  padding: 0.5em 0.5em;
  margin: 1em;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 2px 2px 0px black;
  cursor: pointer;
}

.admin-file-add-image {
  @media (max-width: 1020px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.admin-page {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

.admin-image {
  width: 300px;
  height: auto;
  object-fit: contain;
}

.admin {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.admin-front-image {
  width: 200px;
  position: absolute;
  top: 20%;
  @media screen and (max-height: 700px) {
    display: none;
  }
}


.admin-file-form {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: rgba(153, 58, 255, 0.567);
  margin: 5em 0 2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 1020px) {
    flex-direction: column;
  }
}

.cta,
.cta-image {
  padding: 1em;
  border-radius: 30%;
  background-color: rgb(77, 248, 137);
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.89);
  margin: 10px;
}

.cta-image {
  opacity: 1;
  transition: opacity 0.35s ease;
  z-index: 1;
}

.each-image-container {
  padding: 10px;
  position: relative;
}

.image-form .cta-image {
  opacity: 1;
  scale: 0.8;
  position: absolute;
  top: 80%;
  left: 70%;
  @media (min-width: 768px) {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .grid-item:hover .image-form .cta-image {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .admin-image {
    height: 200px;
  }
}
