.carousel-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
}

.carousel-container:hover .carousel {
  animation-play-state: paused;
}

.carousel {
  display: inline-block;
  overflow: hidden;
  animation: 20s slide infinite linear;
}


.carousel-image {
  object-fit: cover;
  --carousel-image-width: 30vw;
  width: var(--carousel-image-width);
  height: 60vh;
  margin: calc(10vw/6);
}

.carousel-image::after {
    position:absolute   ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(255, 9, 9, 0.956); 
    opacity: 0;
    z-index: 9999;
}

.carousel-image:hover::after {
    opacity: 1; 
  }

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
