.carousel {
  position: absolute;
  width: 100%;
  overflow: hidden;
  user-select: none; 
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  gap: 2vmin;

}

.carousel > .carousel-image {
    width: 35vw;
    height: 46vmin;
    object-fit: cover;
    object-position: 100% center;
}

.drag-proxy {
  visibility: hidden;
  position: absolute;
}