* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --baseColor: #ffffff;
  --fontColor: #000000;
}

body {
  display: flex;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: var(--fontColor);
  margin: 0 auto;
  background-color: var(--baseColor);
  overflow-x: hidden;
}

#bienvenue-kikiland {
  max-width: 90%;
  margin-bottom: 10px;
  @media (min-width: 720px) {
    max-width: 50%;
    max-height: 48rem;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bouton {
  height: 10vh;
  @media (min-width: 720px) {
    margin-bottom: 10vh;
    max-height: 6em;
  }
  cursor: pointer;
  object-fit: contain;
}

#navbar {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.nav-img {
  object-fit: contain;
  height: 2em;
}

.nav-logo {
  object-fit: contain;
  height: 4em;
}

.nav-option {
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.nav-end {
  display: flex;
  flex-direction: row;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.header {
  display: flex;
  background-color: var(--baseColor);
  max-width: 100%;
  width: 100vw;
  max-height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header > img {
  cursor: pointer;
  object-fit: contain;
}

.footer > img {
  cursor: pointer;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

.bombe-icone img {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.bombe-icone {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5em;
  margin: 0 2em 10vh 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  @media (max-width: 768px) {
    display: none;
  }
}

.front-gallery-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  @media (max-width: 768px) {
    margin-top: 5vh;
  }
  @media (max-width: 768px) and (min-height: 600px) {
    margin-top: 8vh;
  }
}

#flashbook-link {
  height: auto;
  margin: 15vh 0 5vh 0;
  max-width: 50%;
  display: block;
  object-fit: contain;
  margin-left: calc((30%) / 2);
  @media (max-width: 480px) {
    max-width: 100%;
  }
}

#flashbook,
#flashbookSide {
  width: 100%;
  object-fit: contain;
}

#flashbookSide-link {
  display: none;
}

.flashbook-margin {
  margin-top: 8em;
}

.grid-image {
  display: block;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 35%));
  grid-gap: 0.5rem;
  justify-content: center;
  margin-bottom: 5em;
}

.grid .grid-item:nth-child(2n + 1) img,
.grid .grid-item:nth-child(2n + 1),
.grid img:nth-child(2n + 1) {
  aspect-ratio: 4/4;
  grid-row: span 4;
}
.grid .grid-item:nth-child(2n + 2) img,
.grid .grid-item:nth-child(2n + 2),
.grid img:nth-child(2n + 2) {
  aspect-ratio: 4/5;
  grid-row: span 5;
}

.grid-item {
  display: block;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0em;
  align-items: center;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
