* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --baseColor: #ffffff;
  --fontColor: #000000;
}

body {
  display: flex;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: var(--fontColor);
  margin: 0 auto;
  background-color: var(--baseColor);
  overflow-x: hidden;
}

#bienvenue-kikiland {
  max-width: 60%;
  margin-bottom: 10px;
  @media (min-width: 720px) {
    max-width: 50%;
    max-height: 48rem;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bouton {
  height: 10vh;
  @media (min-width: 720px) {
    margin-bottom: 10vh;
    max-height: 6em;
  }
  cursor: pointer;
  object-fit: contain;
}

#navbar {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  @media (max-width: 720px) {
    flex-direction: column;
  }
}

.header-logo {
  height: 100%;
  max-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu_img {
  height: 100%;
  padding: 0.5em;
  max-width: 100%;
}

.header-logo_img {
  height: 80%;
  margin-left: 1rem;
  object-fit: contain;
  @media (width < 768px) {
    margin-left: 0;
  }
}

.header-menu_option {
  max-width: 70%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 12vh;
  padding: 0.5em;
  top: 0;
  z-index: 9999;
  background-color: #ffffff;
}

.header > img {
  cursor: pointer;
  object-fit: contain;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
  grid-row: 12vh;
  @media (max-width: 900px) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 0.5rem;
    height: 16vh;
  }
}


.footer_option {
  min-height: 0;
  min-width: 0;
  align-self: center;
  justify-self: center;
  & img {
    height: 60%;
    padding: 0.5rem;
    @media (max-width: 900px) {
      height: 100%;
      padding: 0;
    }
  }
}

#contact {
  height: 50%;
  @media (max-width: 900px) {
    height: 80%;
  }
}


a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

.bombe-icone img {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.bombe-icone {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5em;
  margin: 0 2em 10vh 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  @media (max-width: 768px) {
    display: none;
  }
}

.front-gallery-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  @media (max-width: 768px) {
    margin-top: 5vh;
  }
  @media (max-width: 768px) and (min-height: 600px) {
    margin-top: 8vh;
  }
}

#flashbook-link {
  height: auto;
  margin: 15vh 0 5vh 0;
  max-width: 50%;
  display: block;
  object-fit: contain;
  margin-left: calc((30%) / 2);
  @media (max-width: 480px) {
    max-width: 100%;
  }
}

#flashbook,
#flashbookSide {
  width: 100%;
  object-fit: contain;
}

#flashbookSide-link {
  display: none;
}

.flashbook-margin {
  margin-top: 8em;
}

.grid-image {
  display: block;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 35%));
  grid-gap: 0.5rem;
  justify-content: center;
  margin-bottom: 5em;
}

.grid .grid-item:nth-child(2n + 1) img,
.grid .grid-item:nth-child(2n + 1),
.grid img:nth-child(2n + 1) {
  aspect-ratio: 4/4;
  grid-row: span 4;
}
.grid .grid-item:nth-child(2n + 2) img,
.grid .grid-item:nth-child(2n + 2),
.grid img:nth-child(2n + 2) {
  aspect-ratio: 4/5;
  grid-row: span 5;
}

.grid-item {
  display: block;
  position: relative;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-scroll {
  overflow: hidden;
}
