:root {
  --slideWidth: 20vw;
  --slideHeight: 80vh;
  --slideOnEachSide: 2;
}

.slider-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: var(--slideHeight);
  position: relative;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
}

.slider-image {
  width: var(--slideWidth);
  height: 90%;
  display: inline-block;
  padding: 20px;
  border-radius: 40px;
  object-fit: cover;
  display: none;
}

.slider-image-dissapear {
  width: var(--slideWidth);
  height: 90%;
  display: inline-block;
  padding: 20px;
  border-radius: 40px;
  object-fit: cover;
  z-index: 99999;
  @media (max-width: 640px) {
    display: none;
  }
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: var(--slideWidth);
  height: 3rem;
}

.slider-button_img {
  height: 3rem;
}

.next,
.prev {
  background-color: transparent;
  border: none;
}

@keyframes imageSlideRightToMid {
  from {
    transform: translateX(20vw) scale(0.6);
    opacity: (0.6);
  }
  to {
    transform: translateX(0) scale(1);
    opacity: (1);
  }
}
@keyframes imageSlideLeftToMid {
  from {
    transform: translateX(-20vw) scale(0.6);
    opacity: (0.6);
  }
  to {
    transform: translateX(0) scale(1);
    opacity: (1);
  }
}

@keyframes imageSlideRightToFirstRight {
  from {
    transform: translateX(20vw) scale(0.3);
    opacity: 0.3;
  }
  to {
    transform: translateX(0) scale(0.6);
    opacity: (0.6);
  }
}
@keyframes imageSlideMidToFirstRight {
  from {
    transform: translateX(-20vw) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(0) scale(0.6);
    opacity: (0.6);
  }
}
@keyframes imageSlideRightToRight {
  from {
    transform: translateX(20vw) scale(0.3);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(0.3);
    opacity: 0.3;
  }
}
@keyframes imageSlideMidRightToRight {
  from {
    transform: translateX(-20vw) scale(0.6);
    opacity: 0.6;
  }
  to {
    transform: translateX(0) scale(0.3);
    opacity: 0.3;
  }
}
@keyframes imageSlideMidToLeft {
  from {
    transform: translateX(20vw) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(0) scale(0.6);
    opacity: 0.6;
  }
}
@keyframes imageSlideMidLeftToLeft {
  from {
    transform: translateX(20vw) scale(0.6);
    opacity: 0.6;
  }
  to {
    transform: translateX(0) scale(0.3);
    opacity: 0.3;
  }
}
@keyframes imageSlideLeftToLeftMid {
  from {
    transform: translateX(-20vw) scale(0.3);
    opacity: 0.3;
  }
  to {
    transform: translateX(0) scale(0.6);
    opacity: 0.6;
  }
}
@keyframes imageSlideNoneToLeft {
  from {
    transform: translateX(-20vw) scale(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(0.3);
    opacity: 0.3;
  }
}
@keyframes imageSlideLeftToNone {
  from {
    transform: translateX(calc(var(--slideOnEachSide) * var(--slideWidth) * -1))
      scale(0.3);
    opacity: 0.3;
  }
  to {
    transform: translateX(calc(-2 * var(--slideWidth) * var(--slideOnEachSide)))
      scale(0.3);
    opacity: 0;
  }
}
@keyframes imageSlideRightToNone {
  from {
    transform: translateX(calc(var(--slideOnEachSide) * var(--slideWidth)))
      scale(0.3);
    opacity: 0.3;
  }
  to {
    transform: translateX(calc(2 * var(--slideWidth) * var(--slideOnEachSide)))
      scale(0.3);
    opacity: 0;
  }
}

/* Alone image nimation */
@keyframes imageSlideAloneRightToMid {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes imageSlideAloneLeftToMid {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  :root {
    --slideWidth: 33vw;
    --slideOnEachSide: 1;
  }
}
@media (max-width: 640px) {
  :root {
    --slideWidth: 66vw;
    --slideOnEachSide: 0;
  }
}

/* CSS SVG */
/* .fleur {
  height: 200vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg path {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 1;
  stroke: #000;
  fill: none;
  transition: stroke-dashoffset 0.5s;
} */
